[defaults]
become = false
vault_password_file = scripts/vault-pass.sh
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = profile_tasks, timer
display_args_to_stdout = false
collections_path = ./collections
roles_path = ./roles
pipelining = true

[privilege_escalation]
become_exe = /usr/bin/sudo
