# {{ ansible_managed }}
[Unit]
Description=Daily AIDE file integrity check

[Timer]
OnCalendar={{ system_aide_check_calendar }}
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
