# {{ ansible_managed }}
[Unit]
Description=AIDE file integrity check

[Service]
Type=oneshot
ExecStart=/usr/bin/aide --check
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
SuccessExitStatus=1 2 3 4 5 6 7
SyslogIdentifier=aide-check
