# {{ ansible_managed }}
[Unit]
Description=AIDE file integrity check
ConditionPathExists=/var/lib/aide/aide.db.gz

[Service]
Type=oneshot
ExecStart=/usr/bin/aide --check
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
SuccessExitStatus=1
SyslogIdentifier=aide-check
