# {{ ansible_managed }}
[Unit]
Description=Daily AIDE file integrity check

[Timer]
OnCalendar={{ system_aide_check_calendar }}
Persistent=true
RandomizedDelaySec={{ system_aide_check_random_delay }}

[Install]
WantedBy=timers.target
