# {{ ansible_managed }}
[Coredump]
Storage={{ system_coredump_storage | regex_replace('[\r\n].*', '') }}
ProcessSizeMax={{ system_coredump_process_size_max | regex_replace('[\r\n].*', '') }}
Compress={{ system_coredump_compress | regex_replace('[\r\n].*', '') }}
MaxUse={{ system_coredump_max_use | regex_replace('[\r\n].*', '') }}
KeepFree={{ system_coredump_keep_free | regex_replace('[\r\n].*', '') }}
