# {{ ansible_managed }}
[Journal]
Storage=persistent
SystemMaxUse={{ system_journald_max_use }}
MaxRetentionSec={{ system_journald_max_retention }}
SystemKeepFree={{ system_journald_keep_free }}
RateLimitIntervalSec={{ system_journald_rate_interval }}
RateLimitBurst={{ system_journald_rate_burst }}
