{
    "default": [
        {
            "type": "reject"
        }
    ],
    "transports": {
        "docker": {
{% if is_dnf | default(false) %}
            "registry.redhat.io": [
                {
                    "type": "signedBy",
                    "keyType": "GPGKeys",
                    "keyPath": "{{ containers_policy_rh_gpg_key }}"
                }
            ],
            "registry.access.redhat.com": [
                {
                    "type": "signedBy",
                    "keyType": "GPGKeys",
                    "keyPath": "{{ containers_policy_rh_gpg_key }}"
                }
            ],
{% endif %}
            "quay.io": [
                {
                    "type": "insecureAcceptAnything"
                }
            ]
        },
        "docker-daemon": {
            "": [
                {
                    "type": "insecureAcceptAnything"
                }
            ]
        },
        "containers-storage": {
            "": [
                {
                    "type": "insecureAcceptAnything"
                }
            ]
        },
        "oci": {
            "": [
                {
                    "type": "insecureAcceptAnything"
                }
            ]
        }
    }
}
