# {{ ansible_managed }}
# Git commit signing allowed signers
# See: https://git-scm.com/docs/gitformat-signature
{{ dotfiles_user_email_work }},{{ dotfiles_user_email_personal }} {{ ssh_git_signing_pubkey | default('') }}
