# {{ ansible_managed }}
export PATH="$HOME/.local/bin:$HOME/bin:$HOME/go/bin:$PATH"
export GOPATH="$HOME/go"
export KUBECONFIG="$HOME/.kube/config"
export EDITOR=vim
export TMUX_TMPDIR="$HOME/.local/run/tmux"
export REGISTRY_AUTH_FILE="$HOME/.config/containers/auth.json"

command -v direnv &>/dev/null && eval "$(direnv hook bash)"
command -v zoxide &>/dev/null && eval "$(zoxide init bash)"

umask 077
