# {{ ansible_managed }}
[user]
	name = {{ dotfiles_user_name }}
	email = {{ dotfiles_user_email_work if profile == 'work' else dotfiles_user_email_personal }}
	signingkey = ~/.ssh/id_ed25519_sk_signing.pub

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/

[alias]
	logg = log --oneline --graph --decorate --all

[diff]
	tool = meld

[difftool]
	prompt = false

[help]
	autocorrect = prompt

[core]
	hooksPath = ~/.config/git/template/hooks
	fsmonitor = false
	symlinks = false

[safe]
	bareRepository = explicit

[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
[receive]
	fsckObjects = true

[protocol "file"]
	allow = user

[credential "https://github.com"]
	helper = !gh auth git-credential

{% if profile == 'work' and ansible_system | default('Linux') == 'Linux' %}
[http "https://{{ dotfiles_internal_git_host | default('internal-git.example.com') }}"]
	sslCAInfo = /etc/pki/ca-trust/source/anchors/2022-IT-Root-CA.pem
{% endif %}

[includeIf "gitdir:~/src/openshift/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/submariner-io/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/stolostron/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/ovnk/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/konflux/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/bpfman/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/ds/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/cncf/"]
	path = ~/.config/git/config-work

[includeIf "gitdir:~/src/{{ dotfiles_github_user }}/"]
	path = ~/.config/git/config-personal
