<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- {{ ansible_managed }} -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ dotfiles_ssh_agent_label | e }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ dotfiles_homebrew_prefix }}/bin/ssh-agent</string>
    <string>-D</string>
    <string>-a</string>
    <string>{{ ansible_facts['user_dir'] }}/.ssh/ssh-agent.socket</string>
    <string>-t</string>
    <string>{{ dotfiles_ssh_agent_timeout | int }}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{ ansible_facts['user_dir'] }}/.local/state/log/ssh-agent.log</string>
  <key>StandardErrorPath</key>
  <string>{{ ansible_facts['user_dir'] }}/.local/state/log/ssh-agent.log</string>
</dict>
</plist>
