" {{ ansible_managed }}

set nocompatible
set nomodeline
set secure
set tabstop=2
set shiftwidth=2
set expandtab
set autoindent
set smartindent
set number
set ruler
set showcmd
set incsearch
set hlsearch
set ignorecase
set smartcase
set history=5000
set undolevels=1000
set backspace=indent,eol,start
if has('clipboard')
  set clipboard=unnamedplus
endif
syntax on
filetype plugin indent on

autocmd FileType markdown,text,gitcommit setlocal spell

augroup vimrc_restore
  autocmd!
  autocmd BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
augroup END
