# {{ ansible_managed }}
[{{ distrobox_container_name }}]
image={{ distrobox_container_image }}
pull=true
start_now=false
init=false
nvidia=false
root=false
additional_flags=--cap-add CAP_BPF --cap-add CAP_NET_ADMIN --cap-add CAP_PERFMON

additional_packages="{{ distrobox_packages | join(' ') }}"

# Host delegation symlinks
{% for cmd in distrobox_host_exec_commands %}
init_hooks=mkdir -p /usr/local/bin && ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/{{ cmd }} || true;
{% endfor %}


