bar {
    status_command i3status --config {{ ansible_facts['user_dir'] }}/.config/i3status/config
    position top
    colors {
        background {{ desktop_bar_bg | regex_replace('[^#0-9a-fA-F]', '') }}
        statusline {{ desktop_bar_fg | regex_replace('[^#0-9a-fA-F]', '') }}
        separator {{ desktop_bar_separator | regex_replace('[^#0-9a-fA-F]', '') }}
        # Workspace button colors (border / background / text)
        focused_workspace  {{ desktop_bar_focused_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_focused_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_focused_ws_text | regex_replace('[^#0-9a-fA-F]', '') }}
        active_workspace   {{ desktop_bar_active_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_active_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_active_ws_text | regex_replace('[^#0-9a-fA-F]', '') }}
        inactive_workspace {{ desktop_bar_inactive_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_inactive_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_inactive_ws_text | regex_replace('[^#0-9a-fA-F]', '') }}
        urgent_workspace   {{ desktop_bar_urgent_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_urgent_ws_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_urgent_ws_text | regex_replace('[^#0-9a-fA-F]', '') }}
        binding_mode       {{ desktop_bar_binding_mode_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_binding_mode_bg | regex_replace('[^#0-9a-fA-F]', '') }} {{ desktop_bar_binding_mode_text | regex_replace('[^#0-9a-fA-F]', '') }}
    }
}
